# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Vibe Helene jensen\Desktop\KEA\3.semester\Projekter\KinoXP\KinoXPFrontEndBoiler\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
